@import "../../assets//style//variables.scss";
.article-image {
    max-width: 950px;
    width: 100%;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: 991px) {
        max-width: 750px;
        height: 400px;
    }
    @media (max-width: 767px) {
        max-width: 550px;
        height: 300px;
    }
    @media (max-width: 564px) {
        max-width: 300px;
        height: 200px;
        background-size: contain;
    }
}

.strategy-list {
    @media (max-width: 767px) {
        flex-direction: column;
        align-items: center;
    }
}

.page-box-margin {
    margin: -15px;
    @media (max-width: 991px) {
        margin: 0px;
    }
}

.strategy-main {
    @media (max-width: 767px) {
        flex-direction: column;
        align-items: center;
    }
}

.strategy-image {
    width: 420px;
    height: 275px;
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: 564px) {
        width: 100%;
        height: 175px;
    }
}

.colored-text {
    max-width: 900px;
    width: 100%;
    background-color: $dark-white;
    padding: 30px;
    margin: 20px 0px 20px 90px;
    p {
        font-style: italic;
    }
}
