@import "../../../assets//style//variables.scss";
.G-pricing-box {
    width: 285px;
    // height: 420px;
    height: fit-content;
    border: 2px solid $light-bright-grey;
    border-radius: 5px;
    padding: 30px;
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-name: fadeInDown;
    animation-duration: 1.5s;
    position: relative;
    @media (max-width: 991px) {
        width: 250px;
        // padding: 10px;
        margin: 25px 0px;
    }
    @media (max-width: 767px) {
        width: 350px;
        padding: 20px;
        margin: 45px 0px;
    }
    @media (max-width: 576px) {
        width: 270px;
        margin-bottom: 10px;
        padding: 10px 20px;
    }
    .G-pricing-name {
        font-size: 28px;
        margin-bottom: 20px;
        color: $blue-t;
        font-weight: 600;
        @media (max-width: 576px) {
            margin-bottom: 10px;
            font-size: 18px;
            font-weight: 500;
        }
    }
    .price-border {
        width: 100%;
        border-top: 1px solid $light-bright-grey;
        border-bottom: 1px solid $light-bright-grey;
        padding: 10px 0px 25px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (max-width: 767px) {
        }
        @media (max-width: 576px) {
            margin-bottom: 10px;
            padding: 10px 20;
        }
    }
    .G-pricing-price {
        font-size: 56px;
        font-weight: 500;
        color: $dark-grey;
        @media (max-width: 576px) {
            font-size: 35px;
        }
    }
    .currency {
        font-size: 24px;
        color: $light-grey;
        margin-top: 15px;
        @media (max-width: 576px) {
            font-size: 18px;
            margin-top: 7px;
        }
    }
    .G-price-duration {
        color: $light-grey;
        margin-top: -15px;
        text-align: center;
        @media (max-width: 576px) {
            margin-top: -10px;
        }
    }
    .pricing-details {
        color: $light-grey;
        li {
            display: flex;
            margin-bottom: 5px;
            p {
                margin-left: 10px;
            }
            .done::before {
                content: "\2714";
                color: $blue-t;
                font-size: 14px;
            }
            .none::before {
                content: "\2716";
                color: $light-grey;
                font-size: 14px;
            }
        }
    }
    .price-btn {
        button {
            width: 180px;
            height: 50px;
            background-color: $blue-t;
            border: 2px solid $blue-t;
            box-shadow: $blue-t 4px 15px 55px -10px;
            color: $white;
            font-size: 14px;
            font-weight: 500;
            border-radius: 50px;
            margin-bottom: -60px;
            @media (max-width: 991px) {
                width: 150px;
                box-shadow: $blue-t 1px 5px 25px 1px;
            }
        }
        button:hover {
            background-color: $white;
            box-shadow: none;
            color: $blue-t;
            border: 2px solid $blue-t;
        }
    }
}
