@import "../../../../assets//style//variables.scss";
.slick-slider button {
    color: $dark-grey;
    background-color: $white;
}

.slick-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slick-prev,
.slick-next {
    color: $dark-grey;
    background: $white;
}

.slick-prev:before {
    font-size: 40px;
    line-height: 1;
    opacity: 0.75;
    color: $dark-grey;
    -webkit-font-smoothing: antialiased;
}
