@import "../../../assets//style//variables.scss";
.schedul {
    align-items: center;
    @media (max-width: 991px) {
        flex-direction: column;
        .G-padding-50 {
            width: 80%;
        }
    }
    @media (max-width: 576px) {
        .G-padding-50 {
            width: 100%;
        }
    }
}

.schadule-image {
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation-name: moveLeft;
    animation-duration: 1.5s;
    position: relative;
    @keyframes moveLeft {
        from {
            left: -200px;
        }
        to {
            left: 0px;
        }
    }
    @media (max-width: 991px) {
        height: 400px;
    }
    @media (max-width: 767px) {
        height: 250px;
    }
}

.tabs-main {
    padding: 20px 0px 0px;
}

.tabs-navigator {
    animation-name: fadeInUp;
    animation-duration: 1.5s;
    position: relative;
    ul {
        @media (max-width: 767px) {
            flex-direction: column;
            align-items: center;
        }
    }
}

.tabs-list {
    width: 150px;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: $light-grey;
    background-color: $white;
    margin-right: 10px;
    font-weight: 500;
    @media (max-width: 767px) {
        margin-right: 0px;
        margin-bottom: 10px;
    }
    span {
        margin-right: 10px;
    }
}

.tabs-list:hover,
.activeTab {
    color: $white;
    background-color: $blue-t;
}

.tabs-main {
    animation-name: fadeInUp;
    animation-duration: 1.9s;
    position: relative;
}
